@using System.Globalization
@using Platform.Blazor.Services
@inject IJSRuntime JSRuntime
@inject LayoutService LayoutService
@implements IDisposable

<MudThemeProvider Theme="@_azureTheme" IsDarkMode="@LayoutService.IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<MudRTLProvider RightToLeft="@IsRtl">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Platform.Blazor.Layout.MainLayout)">
                    <NotAuthorized>
                        <p class="text-danger">You are not authorized. <a href="login">Login</a></p>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <h1>Page not found</h1>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</MudRTLProvider>

@code {
    private bool IsRtl => CultureInfo.CurrentCulture.TextInfo.IsRightToLeft;

    private MudTheme _azureTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#007FFF",
            AppbarBackground = "#007FFF",
        },
        PaletteDark = new PaletteDark()
        {
            Primary = "#007FFF",
            AppbarBackground = "#007FFF",
        }
    };

    protected override async Task OnInitializedAsync()
    {
        LayoutService.OnMajorUpdate += StateHasChanged;

        var isDarkString = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "darkMode");
        if (bool.TryParse(isDarkString, out var isDark))
        {
            LayoutService.SetDarkMode(isDark);
        }
    }

    public void Dispose()
    {
        LayoutService.OnMajorUpdate -= StateHasChanged;
    }
}
